body {
    background-color: white;
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 17.5px;
    border-bottom: 1px solid #f2f2f2;
  }

  #start{
    display: flex;
    align-items: center;
  }

  #start form{
    margin: 0;
  }

  #logo {
    font-size: 2rem;
    font-family: "SemiBold600";
    font-weight: 800;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(40, 33, 33);
  }
  
   #searchbar {
    border-radius: 20px;
    height: 40px;
    width: 220px;
    font-size: 1rem;
    border: 0px;
    margin-left: 25px;
    background-color: #f3f3f3; 
    outline: none;
  }

  #account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    width: 150px;
    height: 100%;
    padding: 0;
  }

  #account img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 30px;
  }

  #write{
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
    color: rgb(106, 106, 106);
    text-decoration: none;
  }

  #account a:hover{
    color: black;
  }

  @media (max-width: 500px){

  header{
    padding-left: 15px;
    width: 95vw;
  }

  #logo {
    font-size: 1.5rem;
  }

  #searchbar {
    margin-left: 15px;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    font-size: 0.9rem;
  }

  #write{
    font-size: 0.8em;
    margin-left: 18px;
  }

  #account{
    width: 120px;
    margin-left: 50px;
    margin-right: 0;
  }

   #account img{
    height: 40px;
    width: 40px;
    border-radius: 30px;
  }

  

 }
