header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17.5px;
    padding-top: 2.5px;
    padding-bottom: 7.5px;
  }
  
  #logo {
    font-size: 2.2rem;
    font-family: "SemiBold600";
    font-weight: 800;
    margin-top: 7px;
    text-decoration: none;
    color: black;
  }

  #logo:visited{
    color: black;
  }
  
  header div{
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    align-items: center;
  }

  header div a{
    font-weight: 100;
    font-size: 0.9em;
    margin-left: 15px;
    margin-top: 12px;
  }

  #account{
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
    width: 150px;
    height: 100%;
    padding: 0;
  }

  #account img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 30px;
  }

  #account input{
    background-color: rgb(30, 154, 30);
    font-size: 0.8em;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    height: 30px;
    width: 70px;
  }

  #account input:hover{
    background-color:  rgb(20, 105, 20)
  }

  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 220px;
  }

  #article-title, #subtitle, #content, #topic {
  font-family: "Inter", sans-serif;
}

  #article-title{
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: none;
    outline: none;
  }
  
  #subtitle{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    resize: none;
    border: none;
    outline: none;
  }

  #content{
    margin-top: 20px;
    width: 100%;
    height: 45vh;
    font-size: 18px;
    resize: none;
    border: none;
    outline: none;
  }

  #topic{
    font-family: "Roboto", helvetica;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
  }

  #container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 170px;
    background-color: rgb(225, 225, 225);
  }

  #container img{
    height: 150px;
    width: 220px;
    margin: 0 5px;
    cursor: pointer;
  }

  #container img:hover{
    border: 1.5px solid gray;
  }

  .selected, #container img:hover{
  border: 2px solid green;
 }

 @media (max-width: 500px){

  header{
    padding-left: 0;
  }

  header div{
    display: flex;
    margin-left: 0;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    margin-left: 0;
    font-size: 1.6rem;
  }

  header div a{
    margin-left: 18px;
  }

  #account{
    margin-right: 0;
  }

   #account input{
    font-size: 0.7em;
    margin-left: 25px;
    height: 25px;
    width: 60px;
  }

  section{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }

   #container{
    flex-wrap: wrap;
    margin-top: 110px;
    height: 80px;
    background-color: rgb(225, 225, 225);
    font-size: 1.25em;
  }

  #container img{
    height: 60px;
    width: 80px;
    margin: 0 5px;
  }

 }






